# Application Configuration
NEXT_PUBLIC_APP_URL=https://tour-essentia-crm-essentia.yntv0x.easypanel.host
JWT_SECRET=sua_chave_secreta_jwt_aqui

# Database Configuration (Easypanel / PostgreSQL)
DB_HOST=explore-aventura_explora
DB_PORT=5432
DB_NAME=db_aventure
DB_USER=postgres
DB_PASSWORD=Bradok41
DB_SSL=false

# Alternative full connection URL (opcional)
DATABASE_URL=postgres://postgres:Bradok41@explore-aventura_explora:5432/db_aventure?sslmode=disable
